<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redux</title>
    <link rel="stylesheet" href="./primitiveui.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <nav>
        <section>
            <h1>Redux Essentials Example</h1>
            <div class="navContent">
                <div class="navLinks">
                    <a>Posts</a>
                    <a>Users</a>
                    <a>Notifications 5</a>
                </div>
                <button class="button">
                    Refresh Notifications
                </button>
            </div>
        </section>
    </nav>
    <div class="App">
        <section class="notificationsList">
            <h2>Notifications</h2>
            <div class="notification new">
                <div><b>Emiliano Prohaska I</b> says hi!</div>
                <div title="2021-02-06T22:10:38.413Z"><i>6 minutes ago</i></div>
            </div>
            <div class="notification new">
                <div><b>Willard Senger</b> sent you a gift</div>
                <div title="2021-02-06T22:08:55.877Z"><i>8 minutes ago</i></div>
            </div>
            <div class="notification new">
                <div><b>Candace Braun</b> sent you a gift</div>
                <div title="2021-02-06T22:08:52.480Z"><i>8 minutes ago</i></div>
            </div>
            <div class="notification">
                <div><b>Willard Senger</b> is glad we're friends</div>
                <div title="2021-02-06T22:04:08.190Z"><i>13 minutes ago</i></div>
            </div>
        </section>
    </div>

</body>

</html>